* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}
.btns {
    height: 10vh;
    width: 15vw;
    background-color: #3b5e80;
    margin: 5vh 1vw;
    color: aliceblue;
}